figure#person{
    float: left;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
figure#crocodile{
    float: left;
    position: fixed;
    bottom: 0px;
    left: 200px;
}
figure#hammer{
    float: left;
    position: fixed;
    bottom: 0px;
    left: 200px;
    visibility: hidden;
}
body{
    background-image: url("../img/mangrove_hayashi.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
}
table#quiz{
    border: 2px #000000 solid;
    font-size: 24pt;
    text-align: center;
    line-height: 200%; 
    width: 300px;
    background-color:white;
}
#tp{
    text-align: center;
    font-size: 14pt;
    color: white;
}
#audioControl button.active {
    background: #ccc;
}
 
#audioControl button:not(.active):hover {
    background: rgba(204, 204, 204, 0.3);
}